
// Colours from: https://developer.ubuntu.com/en/phone/apps/qml/tutorials/ubuntu-ui-toolkit-palette/

$content:    #3B3B3B;  // Inkstone
$foreground: #F7F7F7;  // Porcelain
$link:       #E95420;  // Orange
$negative:   #ED3146;  // Red
$overlay:    #111111;  // Jet
$positive:   #3EB34F;  // Green
$secondary:  #888888;  // Ash
$selection:  #19B6EE;  // Blue
$tertiary:   #5D5D5D;  // Slate
