
// Fonts originally from Google Fonts (as below)
// @import url("//fonts.googleapis.com/css?family=Ubuntu:regular,bold&amp;subset=Latin");
// @import url("//fonts.googleapis.com/css?family=Ubuntu+Mono:regular,bold&amp;subset=Latin");
// Instead they have been extracted and stored locally

// Google webfonts helper code: https://github.com/majodev/google-webfonts-helper/

// Sourced from: https://google-webfonts-helper.herokuapp.com/fonts/ubuntu?subsets=latin
// Using https://fonts.google.com/specimen/Ubuntu

// ubuntu-regular - latin
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('/static/css/fonts/ubuntu/ubuntu-v9-latin-regular.eot');  // IE9 Compat Modes
  src: local('Ubuntu'),
       url('/static/css/fonts/ubuntu/ubuntu-v9-latin-regular.eot?#iefix') format('embedded-opentype'),  // IE6-IE8
       url('/static/css/fonts/ubuntu/ubuntu-v9-latin-regular.woff2') format('woff2'),  // Super Modern Browsers
       url('/static/css/fonts/ubuntu/ubuntu-v9-latin-regular.woff') format('woff'),  // Modern Browsers
       url('/static/css/fonts/ubuntu/ubuntu-v9-latin-regular.ttf') format('truetype'),  // Safari, Android, iOS
       url('/static/css/fonts/ubuntu/ubuntu-v9-latin-regular.svg#Ubuntu') format('svg');  // Legacy iOS
}

// ubuntu-700 - latin
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('/static/css/fonts/ubuntu/ubuntu-v9-latin-700.eot');  // IE9 Compat Modes
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
       url('/static/css/fonts/ubuntu/ubuntu-v9-latin-700.eot?#iefix') format('embedded-opentype'),  // IE6-IE8
       url('/static/css/fonts/ubuntu/ubuntu-v9-latin-700.woff2') format('woff2'),  // Super Modern Browsers
       url('/static/css/fonts/ubuntu/ubuntu-v9-latin-700.woff') format('woff'),  // Modern Browsers
       url('/static/css/fonts/ubuntu/ubuntu-v9-latin-700.ttf') format('truetype'),  // Safari, Android, iOS
       url('/static/css/fonts/ubuntu/ubuntu-v9-latin-700.svg#Ubuntu') format('svg');  // Legacy iOS
}

// Sourced from: https://google-webfonts-helper.herokuapp.com/fonts/ubuntu-mono?subsets=latin
// Using https://fonts.google.com/specimen/Ubuntu+Mono


// ubuntu-mono-regular - latin
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/static/css/fonts/ubuntu-mono/ubuntu-mono-v6-latin-regular.eot');  // IE9 Compat Modes
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'),
       url('/static/css/fonts/ubuntu-mono/ubuntu-mono-v6-latin-regular.eot?#iefix') format('embedded-opentype'),  // IE6-IE8
       url('/static/css/fonts/ubuntu-mono/ubuntu-mono-v6-latin-regular.woff2') format('woff2'),  // Super Modern Browsers
       url('/static/css/fonts/ubuntu-mono/ubuntu-mono-v6-latin-regular.woff') format('woff'),  // Modern Browsers
       url('/static/css/fonts/ubuntu-mono/ubuntu-mono-v6-latin-regular.ttf') format('truetype'),  // Safari, Android, iOS
       url('/static/css/fonts/ubuntu-mono/ubuntu-mono-v6-latin-regular.svg#UbuntuMono') format('svg');  // Legacy iOS
}

// ubuntu-mono-700 - latin
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/static/css/fonts/ubuntu-mono/ubuntu-mono-v6-latin-700.eot');  // IE9 Compat Modes
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'),
       url('/static/css/fonts/ubuntu-mono/ubuntu-mono-v6-latin-700.eot?#iefix') format('embedded-opentype'),  // IE6-IE8
       url('/static/css/fonts/ubuntu-mono/ubuntu-mono-v6-latin-700.woff2') format('woff2'),  // Super Modern Browsers
       url('/static/css/fonts/ubuntu-mono/ubuntu-mono-v6-latin-700.woff') format('woff'),  // Modern Browsers
       url('/static/css/fonts/ubuntu-mono/ubuntu-mono-v6-latin-700.ttf') format('truetype'),  // Safari, Android, iOS
       url('/static/css/fonts/ubuntu-mono/ubuntu-mono-v6-latin-700.svg#UbuntuMono') format('svg');  // Legacy iOS
}
