
::selection {
    background: $selection;
}

::-moz-selection {
    background: $selection;
}

::-webkit-selection {
    background: $selection;
}

a {
    font-weight: bold;

    &:link, &:visited {
        color: $link;
        text-decoration: none;
    }

    &:focus, &:hover {
        text-decoration: underline;
    }
}

body {
    background-color: $overlay;
    color: $foreground;
    font-family: "Ubuntu", Arial;
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: bold;
}

.breadcrumb {
    h1, h2 {
        margin: 0.25em 0;
    }

    h2.subtitle {
        margin-bottom: 1rem;
    }
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}

.error {
    color: $negative;
}

.errorlist {
    color: $negative;
    font-weight: bold;
}

form {
    input[type=email], input[type=number],
    input[type=password], input[type=search],
    input[type=text], input[type=url],
    textarea {
        background-color: $foreground;
        box-shadow: 0px 0px 0.5rem $secondary;
        border: 0;
        padding: 0.5rem;
        width: calc(100% - 1rem);

        &:focus {
            box-shadow: 0px 0px 0.5rem $foreground;
        }
    }

    button, input[type=button], input[type=submit] {
        background-color: $foreground;
        box-shadow: 0px 0px 0.5rem $secondary;
        border: 0;
        cursor: pointer;
        margin-top: 1rem;
        padding: 0.5rem;

        &:focus, &:hover {
            box-shadow: 0px 0px 0.5rem $foreground;
        }
    }

    div.g-recaptcha {
        @media #{$mobile} {
            transform: scale(0.65);
            transform-origin: 0 0;
            -webkit-transform: scale(0.65);
            -webkit-transform-origin: 0 0;
            width: 153%;  /* 1 / 0.65 */
        }

        div {
            margin: 0 auto;
            margin-top: 1rem;
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;

            @media #{$tablet-desktop} {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $link;
    margin: 0.5em 0;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

hr {
    border-top: 1px solid $tertiary;
    color: transparent;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.left {
    float: left;
}

.negative {
    color: $negative;
}

.negative-bg {
    background-color: $negative;
}

.right {
    float: right;
}

.small {
    font-size: small;
}

.span-width {
    width: 100%;
}

.subtitle {
    color: $secondary;
}

.tag {
    color: $link !important;
    font-weight: bold;
}
