

// SCREEN SIZE

$desktop: "(min-width: 1001px)";
$desktop-width: 64%;
$mobile: "(max-width: 600px)";
$mobile-width: 80%;
$tablet: "(min-width: 601px) and (max-width: 1000px)";
$tablet-width: 70%;

$tablet-desktop: "(min-width: 601px)";

// COMPONENT SIZE

$image-padding: 1rem;
$overlay-size: 4rem;

// TIMINGS

$transition-fast: 0.5s;
$transition-slow: 0.75s;
