{% load wagtailimages_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ self.title }}</title>

    <style type="text/css">
        pre {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    {% for block in self.body %}
        {% if block.block_type == 'code' %}
            <pre>```
{{ block.value }}
```</pre>
        {% elif block.block_type == 'document' %}
            <pre>[{{ block.value.title }}]({{ block.value.url }})</pre>
        {% elif block.block_type == 'embed' %}
            <pre>[{{ block.value.url }}]({{ block.value.url }})</pre>
        {% elif block.block_type == 'external_link' or block.block_type == 'link' %}
            <pre>[{{ block.value.title }}]({{ block.value.url}})</pre>
        {% elif block.block_type == 'heading' %}
            <pre># {{ block.value }}</pre>
        {% elif block.block_type == 'image' %}
            {% image block.value original as tmp_photo %}

            <pre>![{{ tmp_photo.alt }}]({{ tmp_photo.url }})</pre>
        {% elif block.block_type == 'number' %}
            <pre>{{ block.value }}</pre>
        {% elif block.block_type == 'paragraph' %}
            <pre>{{ block.value.source|safe }}</pre>
        {% else %}
            {# TODO: handle, raw_html, table #}
        {% endif %}
    {% endfor %}
</body>
</html>