{% extends "section/section_page.html" %}
{% load wagtailcore_tags %}

{% block extra_header_content %}

{% if self.show_doc_warning or self.show_alternative_views or self.is_old_doc %}
    <div class="content docbar">
        {% if self.show_doc_warning %}
            <p class="left">This documentation is written in the hope that it is useful</p>
        {% endif %}

        {% if self.show_alternative_views %}
            <ul class="menu right">
                <li>
                    <a href="{% pageurl self %}?view=markdown" title="Open markdown">Markdown</a>
                    <a href="{% pageurl self %}?view=code" title="Open codeview">Code View</a>
                </li>
            </ul>
        {% endif %}

        {% if self.is_old_doc %}
            <p class="clear negative-bg span-width">This documentation is old</p>
        {% else %}
            <br class="clear">
        {% endif %}
    </div>
{% endif %}

{% endblock %}