<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ self.title }}</title>
</head>
<body>
    {% for block in self.body %}
        {% if block.block_type == 'code' %}
            <pre><code>{{ block.value }}</code></pre>
        {% endif %}
    {% endfor %}
</body>
</html>