{% extends "base.html" %}

{% block body_class %}template-403{% endblock %}

{% block title %}Page Forbidden{% endblock %}

{% block content %}
    <div class="content">
        <h1>Page Forbidden</h1>

        <h2 class="subtitle">You don't have permission to view this page.</h2>
    </div>
{% endblock %}
