{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block title %}Page not found{% endblock %}

{% block content %}
    <div class="content">
        <h1>Page not found</h1>

        <h2 class="subtitle">Sorry, this page could not be found.</h2>
    </div>
{% endblock %}
