{% load compress static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block extra_meta %}
            {# Override this in templates to add extra meta #}
        {% endblock %}

        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />

        {# Global stylesheets #}
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'css/ahayzen.scss' %}" />
        {% endcompress %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% include "includes/menu.html" %}

        <div id="container">
            {% block content %}{% endblock %}
        </div>

        {% include "includes/footer.html" %}

        {# Global javascript #}
        {# <script type="text/javascript" src="{% static 'js/ahayzen.js' %}"></script> #}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
