{% extends "base.html" %}
{% load ahayzen_utils wagtailcore_tags %}

{% block body_class %}template-password-required{% endblock %}

{% block title %}Password required{% endblock %}

{% block content %}

<div class="breadcrumb content">
    <h1 class="title">Password Required</h1>
    <h2 class="subtitle">You need a password to access this page</h2>
</div>

<form action="{{ action_url }}" class="content" method="POST">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <p>
        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
    </p>

    {% if form.password.errors %}
        <div class="error">
            {{ form.password.errors }}
        </div>
    {% endif %}

    {% if form.password.help_text %}
        <p class="subtitle">{{ form.password.help_text }}</p>
    {% endif %}

    {{ form.password }}

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    <input type="submit" value="Continue" />
</form>

{% endblock %}
