{% extends "base.html"%}
{% load wagtailcore_tags %}

{% block title %}{{ self.title }}{% endblock %}

{% block content %}

{% include "includes/breadcrumb.html" %}

{% if tag %}
    <h4 class="content subtitle">Filtered by the tag: <span class="tag">{{ tag }}</span> &ndash; <a href="{% pageurl self %}">Remove</a></h4>
{% else %}
    {% if self.popular_tags %}
        <h4 class="content subtitle">
            Filter by tag:
            {% for popular_tag in self.popular_tags %}
                <a class="tag" href="?tag={{ popular_tag }}">{{ popular_tag }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </h4>
    {% endif %}
{% endif %}

{% include "includes/streamfield.html" with blocks=self.body only %}

{% if children|length %}
    {% for child in children %}
        {% include "includes/blog_link_banner.html" with block=child.specific only %}
    {% endfor %}
{% else %}
    <p class="content">No child pages</p>
{% endif %}

{% include "includes/paginator.html" with items=children only %}

{% endblock %}