{% extends "base.html"%}
{% load wagtailcore_tags %}

{% block title %}{{ self.title }}{% endblock %}

{% block content %}

{% include "includes/breadcrumb.html" %}

<div class="content">
    <h4 class="subtitle">
        {{ self.first_published_at }}
        {% if self.tags.count %}
         &ndash; Tags: {% for tag in self.tags.all %}<a class="tag" href="{% pageurl self.parent_index %}?tag={{ tag }}">{{ tag }}</a>{% if not forloop.last %},{% endif %} {% endfor %}
        {% endif %}
    </h4>
</div>

{% include "includes/streamfield.html" with blocks=self.body only %}

{% include "includes/sibling_navigation.html" with extra_before='<hr class="content"/>' sibling_next=self.get_next_live_sibling sibling_previous=self.get_previous_live_sibling only %}

{% endblock %}