
ul.menu {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;

    li {
        a {
            background-color: $overlay;
            display: inline-block;
            height: calc(#{$overlay-size} / 2);
            line-height: 2rem;  // FIXME: should be calc(#{$overlay-size} / 2);  // https://bugzilla.mozilla.org/show_bug.cgi?id=594933
            margin: 0;
            padding: calc(#{$overlay-size} / 4) 0.75em;
            transition: background-color $transition-fast, box-shadow $transition-fast;

            &:focus, &:hover {
                background-color: lighten($overlay, 5);
                box-shadow: 0em 0.2em 0em 0em $link inset;
                text-decoration: none;
            }

            @media #{$desktop} {
                float: left;
            }

            @media #{$tablet} {
                float: left;
            }

            @media #{$mobile} {
                width: calc(100% - 1.5em);
            }
        }
    }
}
