
#container {
    background-color: $content;
    // min-height is viewport height - header - footer - padding
    min-height: calc(100vh - #{$overlay-size} - #{$overlay-size} - 4rem);
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 100%;
}

.content {
    @media #{$desktop} {
        margin-left: calc((100% - #{$desktop-width}) / 2);
        width: $desktop-width;
    }

    @media #{$tablet} {
        margin-left: calc((100% - #{$tablet-width}) / 2);
        width: $tablet-width;
    }

    @media #{$mobile} {
        margin-left: calc((100% - #{$mobile-width}) / 2);
        width: $mobile-width;
    }
}
