
.banner {
    border-top: 1px solid $tertiary;
    display: block;
    transition: background-color $transition-fast;
    width: 100%;

    &:focus, &:hover {
        background-color: $tertiary;
    }

    & div.text-right-side {
        display: inline-block;

        @media #{$desktop} {
            width: calc(100% - 8rem - 2rem);
        }

        @media #{$tablet} {
            width: calc(100% - 8rem - 2rem);
        }

        @media #{$mobile} {
            width: 100%;
        }

        & div.text {
            color: $foreground;
            text-overflow: ellipsis;

            p {
                margin: 0.5rem 0;
            }
        }
    }

    & h1, h2, h3, h4, h5, h6, p {
        word-wrap: break-word;

        @media #{$desktop} {
            margin: 1rem 0;
        }

        @media #{$tablet} {
            margin: 1rem 0;
        }

        @media #{$mobile} {
            margin: 0.5rem 0;
            text-align: center;
        }
    }

    & img {
        height: auto;
        margin-top: 1rem;
        min-height: 8rem;
        max-width: 8rem;

        @media #{$desktop} {
            float: left;
            margin-right: 2rem;
            width: auto;
        }

        @media #{$tablet} {
            float: left;
            margin-right: 2rem;
            width: auto;
        }

        @media #{$mobile} {
            margin-left: calc(50% - 4rem);
            width: 100%;
        }
    }

    @media #{$desktop} {
        min-height: 10rem;
    }

    @media #{$tablet} {
        min-height: 10rem;
    }
}


.blog-banner {
    & div.text-right-side {
        display: inline-block;

        & div.subtext {
            color: $foreground;
            display: inline-block;
            text-overflow: ellipsis;
            width: 100%;

            & p {
                margin: 0.5rem 0;
            }

            @media #{$desktop} {
                min-height: 3rem;
            }

            @media #{$tablet} {
                min-height: 3rem;
            }

            @media #{$mobile} {
                & .left, .right {
                    float: none;
                }
            }
        }

        & div.text {
            @media #{$desktop} {
                min-height: 6rem;
            }

            @media #{$tablet} {
                min-height: 6rem;
            }

            & h1, h2, h3, h4, h5, h6, p {
                color: $foreground;
            }
        }
    }
}


.link-banner {
    & div.text-right-side {
        & div.text {
            @media #{$desktop} {
                min-height: 10rem;
            }

            @media #{$tablet} {
                min-height: 10rem;
            }

            @media #{$mobile} {
                margin-bottom: 0.5rem;
            }
        }
    }

    & h1, h2, h3, h4, h5, h6, p {
        color: $foreground;
    }
}
