
.overlay {
    background-color: $overlay;
    width: 100%;

    @media #{$desktop} {
        height: $overlay-size;
    }

    @media #{$tablet} {
        min-height: $overlay-size;
    }

    @media #{$mobile} {
        min-height: $overlay-size;
    }
}
