
section {
    &.block-code {
        & > pre {
            color: $foreground;
            background-color: $overlay;
            border-top: 0.2rem solid $link;
            font-family: "Ubuntu Mono", monospace;
            padding: 1rem;
            white-space: pre-wrap;

            & > code {
                color: $foreground;
                font-family: "Ubuntu Mono", monospace;
                white-space: pre-wrap;
            }
        }
    }

    &.block-document {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    &.block-image {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        text-align: center;

        & .image-container {
            background-color: $secondary;
            padding: $image-padding;
            text-align: center;

            & img {
                height: auto;
                max-width: 100%;
                width: auto;
            }

            & p.caption {
                font-weight: bold;
            }
        }
    }

    &.block-paragraph {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}
