
.docbar {
    background-color: $tertiary;
    display: inline-block;

    p {
        line-height: 2rem;  // FIXME: should be calc(#{$overlay-size} / 2);  // https://bugzilla.mozilla.org/show_bug.cgi?id=594933
        padding: 0 1rem;  // TODO: paddings should be variables

        @media #{$mobile} {
            text-align: center;
        }
    }

    ul {
        @media #{$mobile} {
            width: 100%;
        }
    }

    @media #{$mobile} {
        .left, .right {
            float: none;
        }
    }
}