
#footer {
    width: 100%;

    p {
        @media #{$desktop} {
            line-height: $overlay-size;
            margin: 0 1rem;
        }

        @media #{$tablet} {
            line-height: $overlay-size;
            margin: 0 1rem;
        }

        @media #{$mobile} {
            line-height: 1rem;
            margin: 1rem 1rem;
            text-align: center;
        }
    }

    ul {
        li {
            a {
                &:focus, &:hover {
                    box-shadow: 0em -0.2em 0em 0em $link inset;
                }
            }
        }

        @media #{$mobile} {
            width: 100%;
        }
    }

    @media #{$mobile} {
        .left, .right {
            float: none;
        }
    }
}
