
#menubar {
    position: relative;

    ul {
        li {
            a {
                &:focus, &:hover {
                    box-shadow: 0em 0.2em 0em 0em $link inset;
                }

                &.menu-snippet {
                    @media #{$tablet} {
                        float: left;
                    }

                    @media #{$desktop} {
                        float: right;
                    }
                }
            }
        }
    }
}
