
// Overrides for embed objects in streamfield to get the correct size iframe
.responsive-object {
    margin-bottom: 2rem !important;
    position: relative;

    & iframe,
      object,
      embed {
        margin: 0 auto;
        position: absolute;
        width: 100%;
    }

    & iframe:not(.twitter-tweet):not(.instagram-media) {
        height: 100%;
    }

    & iframe.instagram-media {
        margin: 0 auto !important;
        position: relative;
    }
}
