{% load static wagtailcore_tags wagtailimages_tags %}

<section{% if block_type %} class="block-{{ block_type }}"{% endif %}>
    <a class="banner blog-banner" href="{{ block.url }}" title="Link to {{ block.title }}">
        <div class="content">
            {% if block.image %}
                {% image block.image fill-400x400 %}
            {% elif block.listing_image %}
                {% image block.listing_image fill-400x400 %}
            {% else %}
                <img alt="Fallback image" src="{% static 'images/fallback_image.svg' %}" title="Fallback image" height="400" width="400" />
            {% endif %}

            <div class="text-right-side">
                <div class="text">
                    <h3>{{ block.title }}</h3>
                    <p>{{ block.subtitle }}</p>
                </div>

                <div class="subtext">
                    <p class="left small subtitle">{{ block.first_published_at }}</p>

                    {% if block.tags and block.tags.count %}
                        <p class="right subtitle">{% for tag in block.tags.all %}<span class="tag">{{ tag }}</span>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                    {% endif %}

                    <br class="clear">
                </div>
            </div>
        </div>
    </a>
</section>
