{% load wagtailcore_tags %}

{# Remember to update password_required, docs_breadcrumb page if styling changes here #}
<div class="breadcrumb content">
    <h1 class="title">
        {% for page in self.get_ancestors %}
            {% if not page.is_root and page.depth > 2 %}
                <a href="{% pageurl page %}">{{ page.title }}</a> &gt;
            {% endif %}
        {% endfor %}

        {{ self.title }}
    </h1>
    <h2 class="subtitle">{{ self.subtitle }}</h2>
</div>