{% load ahayzen_utils wagtailcore_tags %}

<div id="footer" class="overlay">
    <div class="content">
        <div class="left">
            <p>Copyright &copy; {% now "Y" %} Andrew Hayzen</p>
        </div>

        <ul class="menu right">
            {% get_footer_item_snippets as footer_item_snippets %}
            {% for footer_item_snippet in footer_item_snippets reversed %}
                <li class="right">
                    <a href="{% pageurl footer_item_snippet.link %}">{{ footer_item_snippet.link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>