{% load ahayzen_utils wagtailcore_tags %}

<div id="menubar" class="overlay">
    <ul class="content menu">
        {% get_root_page as root_page %}
        <li>
            <a href="{% pageurl root_page %}" title="Homepage">Home</a>
        </li>

        {% get_menu_items as menu_items %}
        {% for menu_item in menu_items %}
            <li>
                <a href="{% pageurl menu_item %}" title="{{ menu_item.specific.subtitle }}">{{ menu_item.title }}</a>
            </li>
        {% endfor %}

        {% get_menu_item_snippets as menu_item_snippets %}
        {% for menu_item_snippet in menu_item_snippets %}
            <li>
                <a class="menu-snippet" href="{{ menu_item_snippet.url }}" title="{{ menu_item_snippet.title }}">{{ menu_item_snippet.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>