{% load wagtailcore_tags %}

{% if items.has_previous or items.has_next %}
    <div class="content pagination">
        <div>
            {% if items.has_previous %}
                <form action="?" class="left" method="get">
                    {{ hidden_fields|safe }}
                    <input type="hidden" name="page" value="{{ items.previous_page_number }}"/>
                    <input type="submit" value="Previous"/>
                </form>
            {% endif %}

            {% if items.has_next %}
                <form action="?" class="left" method="get">
                    {{ hidden_fields|safe }}
                    <input type="hidden" name="page" value="{{ items.next_page_number }}"/>
                    <input type="submit" value="Next"/>
                </form>
            {% endif %}
        </div>
    </div>
{% endif %}