{% load wagtailcore_tags %}

{% if sibling_previous or sibling_next %}
    {{ extra_before }}

    <div class="content">
        {% if sibling_previous %}
            <h4 class="left">
                <a href="{{ sibling_previous.url }}" title="Link to {{ sibling_previous }}">
                    &lt; Older
                </a>
            </h4>
        {% endif %}

        {% if sibling_next %}
            <h4 class="right">
                <a href="{{ sibling_next.url }}" title="Link to {{ sibling_next }}">
                    Newer &gt;
                </a>
            </h4>
        {% endif %}

        <br class="clear"/>
    </div>
{% endif %}
