{% load ahayzen_utils wagtailcore_tags wagtailimages_tags %}

<article>
    {% for block in blocks %}
        {% if block.block_type == 'heading' %}
            <section class="block-{{ block.block_type }} content">
                <h3>{{ block.value }}</h3>
            </section>
        {% elif block.block_type == 'external_link' %}
            {% include "includes/link_banner.html" with block=block.value block_type=block.block_type only %}
        {% elif block.block_type == 'latest_block_entries' %}
            {% get_latest_blog_entries block.value.number as blog_entries %}
            {% for child in blog_entries %}
                {% include "includes/blog_link_banner.html" with block=child.specific block_type=block.block_type only %}
            {% endfor %}
        {% elif block.block_type == 'link' %}
            {% include "includes/link_banner.html" with block=block.value.specific block_type=block.block_type only %}
        {% elif block.block_type == 'image' %}
            <section class="block-{{ block.block_type }} content">
                <div class="image-container">
                    {% image block.value original %}
                    <p class="caption">{{ block.value.title }}</p>
                </div>
            </section>
        {% elif block.block_type == 'code' %}
            <section class="block-{{ block.block_type }} content">
                <pre><code>{{ block.value }}</code></pre>
            </section>
        {% elif block.block_type == 'hr' %}
            {{ block }}
        {% else %}
            <section class="block-{{ block.block_type }} content">
                {{ block }}
            </section>
        {% endif %}
    {% endfor %}
</article>
