{% extends "base.html"%}
{% load wagtailcore_tags %}

{% block title %}{{ self.title }}{% endblock %}

{% block content %}

{% include "includes/breadcrumb.html" %}

{% include "includes/streamfield.html" with blocks=self.description only %}

<div class="content">
    <form action="{% pageurl self %}" method="POST">
        {% csrf_token %}

        <div class="error">{{ form.non_field_errors }}</div>

        {% for field in form %}
            <p>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            </p>

            {% if field.errors %}
                <div class="error">
                    {{ field.errors }}
                </div>
            {% endif %}

            {% if field.help_text %}
                <p class="subtitle">{{ field.help_text }}</p>
            {% endif %}

            {{ field }}
        {% endfor %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        <input class="right" type="submit">
    </form>

    <br class="clear">
    <br>
</div>

{% endblock %}
