{% load wagtailcore_tags %}

<div class="breadcrumb content">
    <h1 class="title">
        {% for page in parents %}
            <a href="{{ page.url }}">{{ page.title }}</a> &gt;
        {% endfor %}

        {{ title }}
    </h1>
    <h2 class="subtitle">{{ subtitle }}</h2>
</div>